*{
  background-color:indianred;
}
#game div {
  position: relative;
  border: 3px solid black;
  border-radius: 7px;
  width: 20%;
  height: 200px;
  margin: 10px;
  display:inline-block;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.3);
  left: 8%;
  transition: .5s;
}
#title ,#score{
  text-align: center;
  font-size: 32px;
  color : lavender; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#score{
  font-size: 50px;
}
div[class~="flip"]{
  transform: rotateY(180deg);
  transition: .5s;
}
#winScreen{
  position: fixed;
  display:block;
  left: 35%;
  top: 30%;
  margin: 10px;
  width: 35%;
  height: 200px;
  border: 3px solid lavender;
  border-radius: 5px;
  background-color:cadetblue;
  color: lavender;
  font-size: 72px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  visibility:hidden;
}